sudo: false
language: scala
jdk: openjdk8
scala:
- 2.12.2

cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt

before_script:
- mkdir -p ~/.sbt/0.13
- echo "resolvers += \"Artima Maven Repository\" at \"http://repo.artima.com/releases\"" > ~/.sbt/0.13/global.sbt

script:
- sbt scalastyle
- sbt ++$TRAVIS_SCALA_VERSION test

before_cache:
 # Cleanup the cached directories to avoid unnecessary cache updates
 - rm -fv $HOME/.ivy2/.sbt.ivy.lock
 - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
 - find $HOME/.sbt        -name "*.lock"               -print -delete
